*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    color: #101e4a;
    scroll-behavior: smooth;
}
body{
    background-color: #fedc00;
}

ul li a:hover{
    background-color: #fcf457;
    border-radius: 30px;
    color: #fa1373 !important;
}
header{
    background-color:#fa1373;
    position: sticky !important;
    
}
.home{
    padding: 40px 0;
    background-color: #fedc00;
}
.friends{
    background-color: #fedc00;
}
.section-padding{
    padding: 40px 0;
}
.side{
    background: url(../imgs/aside-removebg-preview.png) no-repeat;
    background-position: right bottom;
    background-size: 100px;
}
.bob1{
    background: url(../imgs/side2.png) no-repeat;
    background-position: left bottom;
    background-size: 85px;
}
p{
    line-height: 1.8;
}
.info3{
    background: url(../imgs/ride.png) no-repeat;
    background-position: left bottom;
    background-size: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}
.info4{
    height: 100%;

}
.bb{
    margin-left: 100px;
}